.footer
	.container
		.twelve.columns
			a(href='#top')
				img(src!='<?php echo get_template_directory_uri(); ?>/img/logo.png' alt='')
		.twelve.columns
			.social-footer
				ul.list-social-footer
					li.icon-footer.tipped(data-title='YouTube' data-tipper-options='{"direction":"top","follow":"true"}')
						a(href='https://www.youtube.com/channel/UCCSy9CRsAnc7RdXp38crhqQ' target='_blank') &#xf16a;
					li.icon-footer.tipped(data-title='VK' data-tipper-options='{"direction":"top","follow":"true"}')
						a(href='https://vk.com/sheremet_records' target='_blank') &#xf189;
					li.icon-footer.tipped(data-title='Instagram' data-tipper-options='{"direction":"top","follow":"true"}')
						a(href='https://www.instagram.com/sheremet_records' target='_blank') &#xf16d;
					li.icon-footer.tipped(data-title='soundcloud' data-tipper-options='{"direction":"top","follow":"true"}')
						a(href='https://soundcloud.com/ernestsheremet' target='_blank') &#xf1be;
		.twelve.columns
			p Copyright <?php echo date("Y"); ?> IG Design. All rights reserved
//- .footer-sticky
//- 	.container
//- 		.six.columns
//- 			p
//- 				a(href='https://wa.me/79633062201')
//- 					img(src!='<?php echo get_template_directory_uri(); ?>/img/WhatsApp.png')
//- 				a(href='tg://resolve?domain=@ernestSheremet')
//- 					img(src!='<?php echo get_template_directory_uri(); ?>/img/Telegram.png')
//- 				a(href='viber://add?number=79633062201')
//- 					img(src!='<?php echo get_template_directory_uri(); ?>/img/Viber.png')
//- 				a(href='tel:+79633062201')
//- 					img(src!='<?php echo get_template_directory_uri(); ?>/img/phone.png')
//- 		.six.columns
//- 			p
//- 				span &#xf0e0;
//- 				a(href='mailto:ernest22@mail.ru?subject=Нужен звукорежиссер') ernest22@mail.ru


|
| <?php wp_footer(); ?>
|

//- | 
//- | <?php
//- | include get_template_directory() . "/page-parts/scripts.php"
//- | ?>



