| <?php if($album_BD[0]['cover']) : ?>

.six.columns
	.img-wrap
		img(src!="<?php echo $album_BD[0]['cover']; ?>" alt="")
| <?php endif; ?>			
.six.columns
	.project-details
		h5 <?php echo $album_BD[0]['albumName']; ?>
		.listOfSongs(id!="<?php echo $album_BD[0]['marker'] . '_songname'; ?>")
			| <?php 
			| $num = '1 isPlayed';
			| for ($i = 1; $i < count($album_BD); $i++) : ?>

			div(class!="<?php echo $num; ?>") <?php echo $album_BD[$i][0]; ?>

			| <?php 
			| $num = $i + 1;
			| endfor;
			| ?>

		div(id!="<?php echo $album_BD[0]['container']; ?>" data-release-BD!="<?php echo $album_BD[0]['name_this_BD']; ?>").waveform-wrapper

		.transp-bar
			ul
				<?php if($album_BD[0]['type'] === 'single'): ?>
				li
					img(src!="<?php echo get_template_directory_uri() ?>/img/knobempty.png")
				<?php else: ?>
				li(id!="<?php echo $album_BD[0]['marker'] . '_prev'; ?>")
					img(src!="<?php echo get_template_directory_uri() ?>/img/knobprev_black.png")
				<?php endif; ?>
				
				li
					img(id!="<?php echo $album_BD[0]['marker'] . '_pause'; ?>" src!="<?php echo get_template_directory_uri() ?>/img/knobpause_black.png" style="opacity: 0; position: absolute;")
					img(id!="<?php echo $album_BD[0]['marker'] . '_play'; ?>" src!="<?php echo get_template_directory_uri() ?>/img/knobplay_black.png")

				<?php if($album_BD[0]['type'] === 'single'): ?>
				li
					img(src!="<?php echo get_template_directory_uri() ?>/img/knobempty.png")
				<?php else: ?>
				li(id!="<?php echo $album_BD[0]['marker'] . '_next'; ?>")
					img(src!="<?php echo get_template_directory_uri() ?>/img/knobnext_black.png")
				<?php endif; ?>

		p
		p
			strong release:
			| <?php echo $album_BD[0]['date']; ?>
		p
			strong studio:
			| <?php echo $album_BD[0]['studio']; ?>
.clear