div
	div(id!="<?php echo $database[0]['container']; ?>" data-release-bd!="<?php echo $database[0]['way_to_BD']; ?>").waveform-wrapper
	.transp-bar
		ul
			<?php if($database[0]['type'] === 'single'): ?>
			li
				img(src!="<?php echo get_template_directory_uri(); ?>/img/knobempty.png")
			<?php else: ?>
			li(id!="<?php echo $database[0]['marker'] . '_prev'; ?>")
				img(src!="<?php echo get_template_directory_uri() . '/img/knobprev_' . $database[0]['knobs'] . '.png'; ?>")
			<?php endif; ?>
			
			li
				img(id!="<?php echo $database[0]['marker'] . '_pause'; ?>" src!="<?php echo get_template_directory_uri() . '/img/knobpause_' . $database[0]['knobs'] . '.png'; ?>" style="opacity: 0; position: absolute;")
				img(id!="<?php echo $database[0]['marker'] . '_play'; ?>" src!="<?php echo get_template_directory_uri() . '/img/knobplay_' . $database[0]['knobs'] . '.png ';?>")

			<?php if($database[0]['type'] === 'single'): ?>
			li
				img(src!="<?php echo get_template_directory_uri(); ?>/img/knobempty.png")
			<?php else: ?>
			li(id!="<?php echo $database[0]['marker'] . '_next'; ?>")
				img(src!="<?php echo get_template_directory_uri() . '/img/knobnext_' . $database[0]['knobs'] . '.png'; ?>")
			<?php endif; ?>
			
	div(id!="<?php echo $database[0]['marker'] . '_songname'; ?>")
		//- span singer-songwriter
		| <?php 
		| $num = '1 isPlayed';
		| for ($i = 1; $i < count($database); $i++) : ?>

		span(class!="<?php echo $num; ?>")
			| <?php echo $database[$i][0]; ?>

		| <?php 
		| $num = $i + 1;
		| endfor;
		| ?>